<form method="post" action="/products/create" >

    <div>
        <label>
            Product Name:
            <input name="Name" />
        </label>
    </div>
    <div>
        <label>
            Product Price:
            <input name="Price" />
        </label>
    </div>

    <input type="submit" value="Create Product" />

</form>